# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
app/node_modules
app/dist
header
kernel
kernel.exe
kernel-darwin
kernel-linux

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
electron/dist

# IDE
.idea/
