file-item {
  border-top: 1px solid $border;
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  user-select: none;
  &:hover{
    background-color: rgb(246, 248, 250);
  }
  &.current {
    background-color: $blue;
    color: #fff;
  }
}
