.list {
  &__item {
    border-bottom: 1px solid $border;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    user-select: none;
    color: $black;
    transition: $transition;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: rgb(246, 248, 250);
      color: $black-text;
    }

    &.current {
      background-color: $blue;
      color: #fff;
    }

    &.focus {
      background-color: #ebeef1;
    }
  }
}
