@mixin image-bg($image: $img-bg) {
  background: {
    image: url($image);
    color: rgba(0, 0, 0, 0.02);
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
}

@mixin text-clamp($line: 2) {
  word-break: break-all;
  -webkit-line-clamp: $line;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
