@import "variables";
@import "mixin";
@import "reset";
@import "function";
@import "button";
@import "input";
@import "dialog";
@import "navigation";
@import "files";
@import "editors";
@import "components";
@import "~vditor/dist/index.classic.css";

.vditor {
  border-width: 0;

  &-tip__content {
    box-sizing: border-box;
    max-width: 520px;
  }
}

.wrap {
  height: 100%;
}

.resize {
  width: 10px;
  cursor: col-resize;
  margin: 0 -5px;
  position: relative;
}
