@import "variables";
@import "mixin";
@import "reset";
@import "function";
@import "navigation";
@import "files";
@import "main";
@import "~vditor/dist/index.classic.css";

.vditor {
  border-width: 0;
}

.wrap {
  height: 100%;
}

.resize {
  width: 10px;
  cursor: col-resize;
  margin: 0 -5px;
  position: relative;
}
