.backlinks {
  max-width: 495px;
  min-width: 200px;
  width: 200px;
  overflow: auto;
  box-sizing: border-box;
  background-color: var(--focus-background-color);
  border-left: 1px solid var(--border-color);

  &__title {
    margin: 10px;
  }

  .item {
    margin-bottom: 5px;

    h2 {
      cursor: pointer;
      font-weight: normal;
      padding: 5px 10px;
      font-size: 18px;

      &:hover {
        background-color: $blue;
        color: $white;
      }
    }

    &__content {
      padding: 0 10px 5px;
      color: var(--text-secondary-color);
    }
  }
}
