.backlinks {
  max-width: 495px;
  min-width: 200px;
  width: 200px;
  overflow: auto;
  box-sizing: border-box;
  background-color: var(--focus-background-color);
  border-left: 1px solid var(--border-color);

  h2 {
    margin: 20px 10px 10px 10px;
    font-weight: normal;
    cursor: pointer;
  }

  .item {
    margin: 5px 10px;
  }
}
