.bar {
  background-color: var(--toolbar-background-color);
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid var(--border-color);

  .item {
    height: 14px;
    padding: 10px;

    &--current {
      color: $blue;
    }
  }
}
