.bar {
  background-color: var(--focus-background-color);
  text-align: center;
  padding-top: $barHeight;
  box-sizing: border-box;
  border-left: 1px solid var(--border-color);

  .item {
    height: 14px;
    padding: 10px;
  }
}
