.button {
  cursor: pointer;
  color: $white;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: $blue;
  box-sizing: border-box;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid var(--border-color);

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:hover {
    border: 1px solid $blue;
  }

  &:active {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25) inset;
  }

  &--cancel {
    color: var(--text-color);
    background-color: var(--input-background-color);
    margin-left: 10px;
    border-color: var(--border-color);
    &:hover {
      border-color: var(--text-color);
    }
  }
}
