.button {
  cursor: pointer;
  color: var(--text-color);
  border-radius: 3px;
  padding: 5px 10px;
  background-color: $blue;
  box-sizing: border-box;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid $blue;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:hover {
    border-color: var(--text-color);
  }

  &:active {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25) inset;
  }

  &--cancel {
    background-color: var(--input-background-color);
    margin-left: 10px;
    border-color: var(--border-color);
  }
}
