.editor {
  &__blockhint {
    background-color: var(--focus-background-color);
    position: absolute;
    box-shadow: var(--panel-shadow);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    z-index: 4;
    display: none;
    padding: 10px;
    max-width: 50%;
    overflow: auto;
    max-height: 50%;
    word-break: break-word;
    min-width: 200px;
  }
}
