.editors {
  position: relative;

  &__loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    opacity: 0.8;
    svg {
      height: 128px;
      width: 128px;
    }
  }

  &__drag {
    -webkit-app-region: drag;
    height: 20px;
    background-color: var(--background-color);
    margin-right: 96px;
  }

  &__input {
    font-size: 18px;
    border: 0;
    padding: 0 20px;
    background-color: var(--background-color);
    color: var(--textarea-text-color);
  }

  &__webview--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-app-region: no-drag;
    z-index: 1;
  }
}
