.editors {
  &__drag {
    -webkit-app-region: drag;
    height: 20px;
    background-color: var(--background-color);
    margin-right: 96px;
  }

  &__input {
    font-size: 28px;
    border: 0;
    padding: 0 20px;
    background-color: var(--background-color);
    color: var(--textarea-text-color);
  }

  &__webview--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
}
