.editors {
  &__input {
    border: 0;
    border-bottom: 1px solid var(--border-color);
    font-size: 28px;
    box-sizing: border-box;
    padding: 10px;
  }
}

#liandiVditor {
  overflow: auto;
}
