.files {
  max-width: 350px;
  min-width: 200px;
  border-right: 1px solid var(--border-color);

  &__path {
    color: var(--text-secondary-color);
    font-size: 12px;
    margin-top: -1px;
    background-color: var(--background-color);
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid var(--border-color);
  }

  &__list {
    flex: 1;
    overflow: auto;
  }

  &__back {
    height: 56px;
    -webkit-app-region: no-drag;
  }
}
