.file {
  max-width: 320px;
  min-width: 200px;
  width: 200px;
  border-right: 1px solid var(--border-color);
  overflow: auto;
  box-sizing: border-box;
  background-color: var(--focus-background-color);
  user-select: none;
  white-space: nowrap;

  .item {
    &__arrow {
      height: 8px;
      width: 8px;
      cursor: pointer;
      align-self: center;
      padding: 5px;
      flex-shrink: 0;

      &--open {
        transform: rotate(90deg);
      }
    }

    &__name {
      cursor: pointer;
      padding: 5px 10px 5px 0;
      user-select: none;
      flex: 1;
      display: flex;
      align-items: center;

      svg {
        flex-shrink: 0;
        margin-right: 5px;
      }
    }

    &--current {
      background-color: var(--background-color);
    }
  }
}
