.input {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  padding: 7px 8px;
  width: 100%;
  line-height: 17px;
  box-sizing: border-box;
  background-color: var(--input-background-color);
  color: var(--text-color);
  transition: $transition;

  &:focus {
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.1em #dbedff;
    border: 1px solid $blue;
  }
}

select.input {
  height: 38px;
  line-height: 38px;
}

.button {
  cursor: pointer;
  color: $white;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: $blue;
  box-sizing: border-box;
  line-height: 20px;
  white-space: nowrap;
  display: inline-block;
  border: 1px solid var(--border-color);

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &:hover {
    border: 1px solid $blue;
  }

  &:active {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25) inset;
  }

  &--cancel {
    color: var(--text-color);
    background-color: var(--input-background-color);
    margin-left: 10px;
    border-color: var(--border-color);
    &:hover {
      border-color: var(--text-color);
    }
  }
}

.form {
  &__item {
    padding: 5px 0;

    label {
      display: inline-flex;
      align-items: center;
    }
  }
}
