@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.36;
  }

  100% {
    opacity: 0.48;
  }
}


.fn {
  &__space {
    width: 10px;
    display: inline-block;

    &--s {
      width: 5px;
    }
  }

  &__hr {
    height: 10px;
    display: block;
  }

  &__flex {
    display: flex;

    &-center {
      align-self: center;
    }

    &-inline {
      display: inline-flex;
      align-items: center;
    }

    &-1 {
      flex: 1;
      min-width: 1px;
    }

    &-column {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }

    &-shrink0 {
      flex-shrink: 0;
    }
  }

  &__relative {
    position: relative;
  }

  &__pointer {
    cursor: pointer;
  }

  &__clear:before,
  &__clear:after {
    display: table;
    content: "";
  }

  &__none {
    display: none;
  }

  &__hidden {
    visibility: hidden;
  }

  &__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }

  &__two-line {
    @include text-clamp;
  }

  &__layer {
    display: block;
    padding: 5px 0;
    animation-duration: .15s;
    animation-name: scale-in;
    animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
    position: absolute;
    background-color: var(--background-color);
    line-height: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    min-width: 180px;
    right: 0;
    z-index: 201;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.ft {
  &__smaller {
    font-size: 12px;
  }

  &__center {
    text-align: center;
  }

  &__nowrap {
    white-space: nowrap;
  }

  &__secondary {
    color: var(--text-secondary-color);
  }
}
