.graph {
  display: flex;
  flex-direction: column;
  background-color: var(--focus-background-color);

  &__input {
    padding: 10px;
    display: flex;
  }

  &__label {
    white-space: nowrap;
    align-self: center;
    margin: 0 5px 0 10px;
    color: var(--text-secondary-color);
  }

  &__number {
    width: 48px;
  }

  &__svg {
    position: relative;
    overflow: hidden;
  }

  &__tip {
    opacity: 0.86;
    display: none;
    position: absolute;
    background-color: var(--panel-background-color);
    box-shadow: var(--panel-shadow);
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    max-width: 520px;
    min-width: 80px;
    transition: $transition;
    color: var(--toolbar-icon-color);
  }
}
