.layout {
  &__resize {
    cursor: row-resize;
    margin: -3px 0;
    height: 6px;
    width: 100%;
    position: relative;
    z-index: 1;

    &--lr {
      cursor: col-resize;
      width: 6px;
      margin: 0 -3px;
      height: auto;
    }
  }
}
