.layout {
  &__resize {
    cursor: row-resize;
    margin: -3px 0;
    height: 6px;
    width: 100%;
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      background-color: var(--border-color);
      top: 2px;
      position: absolute;
      left: 0;
    }

    &--lr {
      cursor: col-resize;
      width: 6px;
      margin: 0 -3px;
      height: auto;

      &:after {
        top: 0;
        width: 1px;
        left: 2px;
        height: 100%;
      }
    }
  }

  &__empty {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    margin: 0 auto;

    .item {
      padding: 20px 10px;
      font-size: 18px;
    }
  }

  &__tab {
    .tab__panels {
      display: flex;
    }

    .tab__headers {
      list-style: none;
      align-items: center;
      background-color: var(--focus-background-color);

      .item {
        font-size: 12px;
        padding: 0 5px;
        border-bottom: 2px solid transparent;
        line-height: 18px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: var(--panel-background-color);
        }

        &__svg {
          height: 12px;
          width: 12px;
          margin: 3px 3px 3px 0;
          float: left;
          color: var(--toolbar-icon-color);

          &--close {
            color: var(--focus-background-color);
            float: right;
            height: 8px;
            width: 8px;
            padding: 2px;
            border-radius: 8px;
            margin: 3px 0 3px 3px;

            &:hover {
              color: var(--toolbar-icon-color);
              background-color: var(--focus-background-color);
            }
          }
        }

        &--current {
          background-color: var(--background-color);
          border-color: $blue;
        }

        &--unsave {
          color: var(--text-secondary-color);
          font-weight: 900;
        }
      }
    }
  }
}
