.list {
  overflow: auto;

  &__item {
    border-bottom: 1px solid var(--border-color);
    line-height: 21px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      color: var(--text-secondary-color);
    }

    &--current {
      background-color: var(--background-color);
    }
  }
}
