.list {
  &--signal {
    .list__item {
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
        background-color: rgb(246, 248, 250);
      }
    }
  }

  &__item {
    border-bottom: 1px solid var(--border-color);
    line-height: 21px;

    svg {
      color: var(--text-secondary-color);
      transition: $transition;
    }

    &:hover {
      color: var(--text-secondary-color);
    }

    &--current {
      background-color: $blue !important;
      color: $white !important;

      svg {
        color: $white !important;
      }
    }

    &--focus {
      background-color: var(--focus-background-color);
    }
  }
}
