.list {
  // mount and search list
  &--signal {
    overflow: auto;
    .list__item {
      cursor: pointer;
      padding: 5px 10px;

      &:hover {
        background-color: $blue;
        color: $white;

        .ft__secondary {
          color: $white;
        }
      }
    }
  }

  &__item {
    border-bottom: 1px solid var(--border-color);
    line-height: 21px;

    svg {
      color: var(--text-secondary-color);
      transition: $transition;
    }

    &:hover {
      color: var(--text-secondary-color);
    }

    &--current {
      background-color: $blue !important;
      color: $white !important;

      svg,
      .ft__secondary {
        color: $white !important;
      }
    }

    &--focus {
      background-color: var(--focus-background-color);
    }
  }
}
