.message {
  position: absolute;
  top: 10px;
  animation-duration: .15s;
  animation-fill-mode: both;
  left: 50%;
  animation-name: slideInDown;
  z-index: 202;
  display: block;

  &__content {
    display: inline-block;
    line-height: 16px;
    border-radius: 3px;
    position: relative;
    margin-left: -50%;
    padding: 5px 10px;
    color: $white;
    font-size: 12px;
    background-color: rgba($blue, 0.8);
    max-width: 520px;
    box-sizing: border-box;

      a {
        color: $white;
      }
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: -25px;
    color: var(--text-secondary-color);

    &:hover {
      color: var(--text-color);
    }
  }
}
