.navigation {
  max-width: 495px;
  min-width: 200px;
  border-right: 1px solid var(--border-color);
  overflow: auto;
  padding-top: $barHeight;
  box-sizing: border-box;

  &--win32 {
    padding-top: 0;
  }
}
