html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  transition: $transition;
  box-sizing: border-box;


  &.body--win32 {
    border: 1px solid #707070;
    border-top-color: transparent;
    &.body--blur {
      border-color: #aaa;
    }

    .editors__webview--fullscreen {
      top: 1px;
      left: 1px;
      bottom: 1px;
      right: 1px;
    }

    ::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background-color: var(--scroll-bar-thumb-background-color);
      cursor: pointer;

      &:active,
      &:hover {
        background-color: var(--scroll-bar-thumb-background-color-active);
      }
    }
  }
}

mark {
  display: -webkit-inline-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
p {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: $blue;
}

a:hover {
  text-decoration: underline;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic;
  overflow: hidden;
  font-size: 12px;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  font-family: $font-family-base;
  outline: none;
}

button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

svg {
  fill: currentColor;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  width: 14px;
  height: 14px;
}

blockquote {
  margin: 0;
}
