// Colors
$blue: #4285f4 !default;
$blue-light: #dbedff !default;
$blue-lighter: #f1f7fe !default;
$red: #d23f31 !default;
$red-light: #ffdce0 !default;
$green: #569e3d !default;
$fade-white: rgba(255, 255, 255, .86) !default;
$fade: rgba(0, 0, 0, .38) !default;
$gray: rgba(0, 0, 0, .54) !default;
$black: #3b3e43 !default;
$black-text: #000 !default; // rgba(0, 0, 0, .87)
$black-light: #616161 !default;
$border: #e1e4eb !default;

// Fonts
$font-family-base: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !default;
$font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// shadow
$shadow-tip: 0 1px 2px rgba(0, 0, 0, .2) !default;

// transition
$transition: all .15s ease-in-out !default;

:root {

}

body.them--dark {

}
