// colors
$white: #fff !default;
$blue: #4285f4 !default;

// font
$font-family-base: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !default;

// transition
$transition: all .15s ease-in-out !default;

// size
$barHeight: 20px !default;

:root {
  --background-color: #fff;
  --text-color: #24292e;
  --text-secondary-color: #6a737d;
  --border-color: #e1e4eb;

  --focus-background-color: #ebeef1;

  --input-background-color: var(--background-color);

  --scroll-bar-thumb-background-color: rgba(0, 0, 0, 0.2);
  --scroll-bar-thumb-background-color-active: rgba(0, 0, 0, 0.5);
}

body.theme--dark {
  --background-color: #24292e;
  --text-color: #d1d5da;
  --text-secondary-color: #959da5;
  --border-color: #141414;

  --focus-background-color: #444d56;

  --input-background-color: #1d2125;

  --scroll-bar-thumb-background-color: rgba(0, 0, 0, 0.7);
  --scroll-bar-thumb-background-color-active: rgba(0, 0, 0, 0.8);
}

