@import "variables";
@import "mixin";
@import "reset";
@import "function";
@import "button";
@import "input";
@import "message";
@import "dialog";
@import "navigation";
@import "files";
@import "editors";
@import "list";
@import "~vditor/dist/index.classic.css";

.vditor {
  border-width: 0;

  &-tip__content {
    box-sizing: border-box;
    max-width: 520px;
  }
}

.wrap {
  height: 100%;
}

.resize {
  width: 10px;
  cursor: col-resize;
  margin: 0 -5px;
  position: relative;
}

tree-list.focus {
  background-color: #ebeef1 !important;
}


tab-panel {
  .tab {
    border-bottom: 1px solid $black;
    li {
      list-style: none;
      color: $gray;
      padding: 0 10px;
      line-height: 36px;
      user-select: none;

      &.tab--current {
        color: #fff;
        background-color: $black;
      }
    }
  }
}
