@import "variables";
@import "mixin";
@import "reset";
@import "function";
@import "button";
@import "input";
@import "message";
@import "dialog";
@import "navigation";
@import "files";
@import "editors";
@import "list";
@import "~vditor/dist/index.classic.css";

.vditor {
  border-width: 0;

  &-tip__content {
    box-sizing: border-box;
    max-width: 520px;
  }
}

.wrap {
  height: 100%;
}

.resize {
  width: 10px;
  cursor: col-resize;
  margin: 0 -5px;
  position: relative;
}


tab-panel {
  .tab {
    border-bottom: 1px solid var(--border-color);
    li {
      list-style: none;
      padding: 0 10px;
      line-height: 36px;
      user-select: none;

      &.tab--current {
        background-color: var(--focus-background-color);
      }
    }

    &--vertical {
      border-right: 1px solid var(--border-color);
      border-bottom: 0;
    }

    &__panel {
      padding: 10px;
    }
  }
}
