@import "variables";
@import "../../../vditore/src/assets/scss/index";
@import "mixin";
@import "reset";
@import "function";
@import "form";
@import "message";
@import "dialog";
@import "file";
@import "editor";
@import "list";
@import "toolbar";
@import "backlinks";
@import "layout";

.window-controls {
  position: fixed;
  top: 0;
  right: 0;
  height: $bar-height;
  z-index: 1;

  &__item {
    cursor: pointer;
    transition: $transition;
    color: var(--text-color);
    padding: 5px 11px;
    height: $bar-height;
    width: 32px;
    box-sizing: border-box;
    float: left;
    display: none;

    svg {
      height: 10px;
      width: 10px;
      float: left;
    }

    &:hover {
      background-color: var(--scroll-bar-thumb-background-color);
      color: #24292e;
    }

    &--close:hover {
      color: $white;
      background-color: #e5182c;
    }
  }
}

.find {
  display: none;
  position: fixed;
  right: 96px;
  top: 0;
  align-items: center;

  input {
    padding: 0 10px;
    border: 0;
    background-color: var(--focus-background-color);
    color: var(--text-color);
  }

  &__input {
    width: 220px;
  }

  &__text {
    color: var(--text-secondary-color);
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
  }

  svg {
    cursor: pointer;
    color: var(--text-color);
    padding: 10px;
    height: 10px;
    width: 10px;

    &:hover {
      color: var(--text-secondary-color);
    }
  }
}

.wrap {
  height: 100%;
}

tab-panel {
  .tab {
    border-bottom: 1px solid var(--border-color);

    li {
      list-style: none;
      padding: 0 10px;
      line-height: 36px;
      user-select: none;

      &.tab--current {
        background-color: var(--background-color);
      }
    }

    &--vertical {
      border-right: 1px solid var(--border-color);
      border-bottom: 0;
    }

    &__panel {
      padding: 10px;
    }
  }
}

.about {
  &__item {
    border-bottom: 1px solid var(--border-color);
    padding: 10px 0;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__logo {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }
}

.help {
  list-style: none;
  li {
    padding: 5px 10px;
  }
}
