@import "variables";
@import "reset";
@import "~vditor/dist/index.css";

body {
  border: 0;
  height: 100%;
}

.vditor {
  border-width: 1px 0 0 0;
  border-radius: 0;
  height: 100%;

  &-preview {
    background-color: var(--focus-background-color);
  }
}

#liandiVditor {
  margin-top: 20px;

  .vditor-tooltipped__n:before, .vditor-tooltipped__ne:before, .vditor-tooltipped__nw:before {
    top: 5px;
  }

  .vditor-tooltipped__n:after, .vditor-tooltipped__ne:after, .vditor-tooltipped__nw:after {
    margin-bottom: -5px;
  }

  .vditor-tooltipped__s:before, .vditor-tooltipped__se:before, .vditor-tooltipped__sw:before {
    bottom: 5px;
  }

  .vditor-tooltipped__s:after, .vditor-tooltipped__se:after, .vditor-tooltipped__sw:after {
    margin-top: -5px;
  }
}
